extends ../_component/layout/base
block config
  -
    var title = template.head.title
    var description = template.head.description
  
block content
  .content
    each object in template.body
      if object.type == 'blockquote'
        blockquote.blockquote
          .blockquote__body
            each paragraph in object.data
              p=paragraph
          .blockquote-footer
            a(href=object.link, target="_blank")=object.source

      if object.type == 'h4'
        h4=object.data

      if object.type == 'h3'
        h3=object.data

      if object.type == 'h2'
        h2=object.data

      if object.type == 'paragraph' || object.type == 'p'
        each paragraph in object.data
          p=paragraph

      if object.type == 'paragraph-safe'
        each paragraph in object.data
          p!=paragraph

      if object.type == 'ul'
        ul
          each listItem in object.data
            li=listItem

      if object.type == 'pre'
        h3=object.title
        each dataValue in object.data
          pre.pre-title=dataValue

      if object.type == 'hr'
        hr

      if object.type == 'img'
        img(src=object.src)